<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Processos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Aqui você encontra seus processos
  <br>
  <br>
  <ion-button (click)="openpdf()">Open PDF</ion-button>
  
  <br>

  <iframe src="./file_name.pdf" width=200 height=200 frameborder=0 ></iframe>
  <p>Nos siga no <a target="_blank" rel="noopener" href="https://www.facebook.com/ronaldo.santana.14">facebook</a>, obrigado.</p>
</ion-content>
