<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input placeholder ="Usuario"[(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder ="Senha"[(ngModel)]="senha" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder ="Repita a Senha"[(ngModel)]="repass" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder ="Nome"[(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder ="CPF"[(ngModel)]="cpf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder ="E-mail"[(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder ="Data de Nascimento"[(ngModel)]="datanascimento" type="date"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button full (click)="registrar()">Cadastrar</button>
</ion-content>
