<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Adv.Sys - Seu sistema de advocacia!</ion-title>
        </ion-toolbar>
        <h1 class="title"><img class="title-image" src="https://image.ibb.co/k66dC0/logo.png" width="89" height="80" /></h1>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
                <html>
                <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
                <script>
                  // Initialize Firebase
                  var config = {
                    apiKey: "AIzaSyDO0fcf3jjN1Rc1egSJpHWh_AceG-OsiLg",
                    authDomain: "advsys-cfc3a.firebaseapp.com",
                    databaseURL: "https://advsys-cfc3a.firebaseio.com",
                    projectId: "advsys-cfc3a",
                    storageBucket: "advsys-cfc3a.appspot.com",
                    messagingSenderId: "668121223214"
                  };
                  firebase.initializeApp(config);
                </script>
                </html>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
